main {
  position: relative;
}

.button-container {
  top: 50%;
  left: 2.5vw;
  background: rgba(100,100,100,0.8);
  position: absolute;
  border-radius: 3vw;
  width: 30vw;
  height: 63vh;
  transform: translate(0, -50%);
}

.add-book-container {
  text-align: center;
  margin-bottom: 20px;
}

.add-btn {
  position: absolute;
  background-color: #327248;
  color: #EFEFEF;
  font-weight: bold;
  font-family: 'Alexandria';
  width: 27vw;
  height: 15vh;
  border: none;
  border-radius: 3vh;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s;
  box-sizing: border-box;
  text-align: center;
  font-size: calc(0.9 * 27vw / 13);
  right: 50%;
  top: 5vh;
  transform: translate(+50%, 0);
}

.add-btn:hover {
  background-color: #00db4c;
}

.add-btn.remove-hover {
  background-color: #7f2627;
  right: 50%;
  top: 50%;
  transform: translate(+50%, -50%);
}

.add-btn.remove-hover:hover {
  background-color: #e63946;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);

  justify-content: center;
  align-items: center;
}


.modal-content {
  background-color: #fefefe;
  height: 80vh;
  max-height: 80vh;
  aspect-ratio: 1 / 1;
  max-width: 80vw;
  padding: 20px;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}


.modal-content h2 {
  font-family: 'Alexandria', sans-serif;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.modal-content input[type="text"] {
  width: 100%;
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.browse-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.browse-btn {
  cursor: pointer;
  text-align: center;
  font-family: 'Alexandria', sans-serif;
  font-weight: bold;
  color: #4285F4;
  text-decoration: underline;
  center: 0%;
}

#addBookForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  gap: 1rem;
  position: relative;
  padding: 0;
}

#addBookForm label {
  display: block;
  font-family: 'Alexandria', sans-serif;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  text-align: left;
  color: #333;
}

#addBookForm button[type="submit"] {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8%;
  border-radius: 12px;
  border: none;
  background-color: #00db4c;
  color: #EFEFEF;
  font-family: 'Alexandria', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.2s;
}

#addBookForm button[type="submit"]:hover {
  background-color: #327248;
}

.file-drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  margin-bottom: 0;
}

.file-drop-zone {
  flex: 2;
  border: 2px dashed #999;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Alexandria', sans-serif;
  font-size: 1rem;
  color: #666;
  padding: 10px;
  transition: background-color 0.2s, border-color 0.2s;
}

.file-drop-zone:hover {
  background-color: rgba(66, 133, 244, 0.1);
  border-color: #3367d6;
}

.cover-preview {
  width: 33.33%;
  max-width: 200px;
  aspect-ratio: 2 / 3;
  position: relative;
  border: 2px solid #2c2c2c;
  overflow: hidden;
  border-radius: 12px;
  margin-left: 1rem;
}

.cover-preview img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
}


.rm-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);

  justify-content: center;
  align-items: center;
}

.rm-modal-content {
  background-color: #fefefe;
  height: 80vh;
  max-height: 80vh;
  aspect-ratio: 1 / 1;
  max-width: 80vw;
  padding: 20px;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.rm-modal-content h2 {
  font-family: 'Alexandria', sans-serif;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.rm-modal-content input[type="text"] {
  width: 100%;
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box;
}

.rm-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.rm-browse-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.rm-browse-btn {
  cursor: pointer;
  text-align: center;
  font-family: 'Alexandria', sans-serif;
  font-weight: bold;
  color: #4285F4;
  text-decoration: underline;
  center: 0%;
}

#rmBookForm {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0;
}

#rmBookForm label {
  display: block;
  font-family: 'Alexandria', sans-serif;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  text-align: left;
  color: #333;
}

#rmBookForm button[type="submit"] {
  position: absolute;
  margin-top: 1rem;
  width: 100%;
  bottom: 0;
  height: 8%;
  border-radius: 12px;
  border: none;
  background-color: #2891c1;
  color: #EFEFEF;
  font-family: 'Alexandria', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.2s;
}

#rmBookForm button[type="submit"]:hover {
  background-color: #00b2b2;
}

#rmBookForm button[type="button"] {
  position: absolute;
  width: 100%;
  bottom: calc(8% + 10px);
  height: 8%;
  border-radius: 12px;
  border: none;
  background-color: #7f2627;
  color: #EFEFEF;
  font-family: 'Alexandria', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.2s;
}

#rmBookForm button[type="button"]:hover {
  background-color: #b20000;
}

#rmBookForm button[type="button"].disabled {
  background-color: #888;
  cursor: default;
}

#rmBookForm button[type="button"].disabled:hover {
  background-color: #888;
}

#rmBookInfo {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
#rmBookInfo p {
  margin-bottom: 0.5rem;
  font-family: 'Alexandria', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
  background: rgba(0, 0, 0, 0.05);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  overflow-wrap: anywhere;
}

#rmBookInfo p#rmBookTitle {
  color: #1a1a1a;
}

#rmBookInfo p#rmBookAuthor {
  color: #555;
}

#rmBookId {
  width: 100%;
  padding: 0.8rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box;
  font-family: 'Alexandria', sans-serif;
  outline: none;
}

#rmBookId:focus {
  border-color: #4285F4;
  box-shadow: 0 0 5px rgba(66, 133, 244, 0.5);
}


#rmBookId::-webkit-outer-spin-button,
#rmBookId::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#rmBookId[type=number] {
  -moz-appearance: textfield;
}

.rm-cover-preview {
  height: 21rem;
  aspect-ratio: 2 / 3;
  position: relative;
  border: 2px solid #2c2c2c;
  overflow: hidden;
  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.rm-cover-preview img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
}

.log-container {
  top: 50%;
  right: 50%;
  background: black;
  position: absolute;
  border-radius: 3vw;
  width: 30vw;
  height: 63vh;
  transform: translate(+50%, -50%);
  padding: 1vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.log-list {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.log-entry {
  background: rgba(1, 178, 25, 0.06);
  color: #01b219;
  padding: 0.8vh 0.8vw;
  border-radius: 1vh;
  font-family: 'Alexandria';
  font-size: 0.85vw;
  line-height: 1.4;
  word-wrap: break-word;
}