.library {
  display: grid;
  grid-template-columns: repeat(3, 23.52941176vw);
  gap: 30px;
  justify-content: center;
}

.book {
  cursor: pointer;
  width: 23.52941176vw;
  aspect-ratio: 2/3;
  border: 2px solid #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
}

.book img {
  position: absolute;
  top: 50%;
  left: 50%;
  filter: brightness(1);
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  transition: 0.2s;
}

.book.borrowed img {
  filter: grayscale(100%) brightness(0.8);
  transition: 1s;
}

.book.borrowed:hover img {
  filter: grayscale(20%);
  filter: none;
}

.book:not(.borrowed):hover img {
  filter: brightness(1.3);
}

.book.borrowed .book-title,
.book.borrowed .book-author {
  text-decoration: line-through;
  color: #aaa;
}

.book-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8.33%;
  display: flex;
  justify-content: center;
}

.book-text-bg {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.book-title {
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.2;
  color: white;
}

.book-author {
  font-size: 0.9rem;
  margin-top: 2px;
  color: white;
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.hidden {
  display: none;
}

.modal-overlay {
  background-color: rgba(0,0,0, 0.6);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: absolute;
  inset: 0;
}

.modal-content {
  position: relative;
  color: white;
  display: flex;
  gap: 3.5vh;
  padding: 3.5vh;
  border-radius: 3.5vh;
  z-index: 1;
  height: 37vh; /* 31.5 on each side*/
  aspect-ratio: 2.5;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.modal-content img {
  width: 18.5vh;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 8px;
}

.modal-info-title {
  position: absolute;
  border: none;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  height: 5vh;
  top: 2vh;
  right: 2vh;
  left: 23vh;
  z-index: 0;
}

.modal-info-description {
  position: absolute;
  border: none;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  top: 8vh;
  bottom: 7vh;
  right: 2vh;
  left: 23vh;
  z-index: 0;
}

.modal-info-title h2 {
  position: relative;
  height: 1.5vh;
  color: white;
  z-index: 1;
  font-size: clamp(1.6vh, 2.4vh, 3vh);
  top: 0.2vh;
  left: 0.4vh;
  white-space: nowrap;
}

.modal-info-title p {
  position: relative;
  height: 2vh;
  margin-top: 0.6vh;
  color: white;
  border-radius: 10px;
  z-index: 1;
  font-size: clamp(1.2vh, 1.8vh, 2vh);
  top: 0.4vh;
  left: 0.4vh;
  white-space: nowrap;
}


.modal-info-description p {
  position: relative;
  height: 2vh;
  margin-top: 0.6vh;
  color: white;
  border-radius: 10px;
  z-index: 1;
  font-size: clamp(1.2vh, 1.8vh, 2vh);
  top: 0.2vh;
  left: 0.4vw;
  white-space: nowrap;
}

.borrow-btn {
  position: absolute;
  padding: 0.8vh 3vh;
  border-radius: 8px;
  background: #ff3400;
  font-family: "Alexandria";
  color: #EFEFEF;
  cursor: pointer;
  bottom: 2vh;
  height: 4vh;
  right: 2vh;
  left: 23vh;
  transition: background 0.2s;
  font-size: clamp(1vh, 1.5vh, 1.5vh);
  line-height: 1;
  white-space: nowrap;
}

.borrow-btn:hover {
  background: #8e331c;
}

.return-btn {
  position: absolute;
  padding: 0.8vh 3vh;
  border-radius: 8px;
  background: #4bbf28;
  font-family: "Alexandria";
  color: #EFEFEF;
  cursor: pointer;
  bottom: 2vh;
  height: 4vh;
  right: 2vh;
  left: 23vh;
  transition: background 0.2s;
  font-size: clamp(1vh, 1.5vh, 1.5vh);
  line-height: 1;
  white-space: nowrap;
}

.return-btn:hover {
  background: #4c873a;
}

.disabled-btn {
  position: absolute;
  padding: 0.8vh 3vh;
  border-radius: 8px;
  background: #888888;
  font-family: "Alexandria";
  color: #EFEFEF;
  cursor: pointer;
  bottom: 2vh;
  height: 4vh;
  right: 2vh;
  left: 23vh;
  transition: background 0.2s;
  font-size: clamp(1vh, 1.5vh, 1.5vh);
  line-height: 1;
  white-space: nowrap;
}

.search-bar {
  width: 17%;
  margin-bottom: 2vh;
  margin-top: 1vh;
  margin-left: 1vh;
}

.search-bar input {
  background: #efebd0;
  width: 100%;
  max-width: 420px;
  padding: 0.9vh 1vw;
  border-radius: 10px;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 1.5vh;
  transition: background 0.2s;
}

.search-bar input:hover {
  background: #fffdf1;
}

.filter {
  width: 12%;
  margin-bottom: 2vh;
  margin-top: 1vh;
  margin-left: 1vh;
}

.filter-btn {
  background: #fffbe3;
  width: 100%;
  max-width: 420px;
  padding: 0.9vh 1vw;
  border-radius: 100vh;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 1.5vh;
  cursor: pointer;
  transition: background 0.2s;
}

.filter-btn:hover {
  background: #fffdf1;
}

.filter-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  background: rgba(255,255,255,0.7);
  border-radius: 10px;
  z-index: 10;
  padding: 1vh 0.5vh;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  gap: 0.5vh;
}

.filter-category {
  cursor: pointer;
  anchor-name: --self;
  position: relative;
  padding: 1vh 1.2vw;
  background: rgba(0,0,0,0);
  transition: background 0.3s;
  border-radius: 0.5vh;
}

.filter-category:hover {
  background: rgba(0,0,0,0.2);
}

.sub-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  position-anchor: attr(data-anchor);
  top: anchor(top);
  left: calc(anchor(right) + 0.5vh);
  background: rgba(240,240,240,0.7);
  border-radius: 10px;
  z-index: 11;
  padding: 1vh 0.5vh;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  gap: 0.5vh;
  max-height: 25vh;
  overflow-y: auto;
}

.sub-menu-option {
  position: relative;
  padding: 1vh 1.2vw;
  background: rgba(0,0,100,0);
  transition: background 0.3s;
  border-radius: 0.5vh;
}

.sub-menu-option.selected {
  background: rgba(0,0,150,0.5)
}

.sub-menu-option.selected:hover {
  background: rgba(0,0,100,0.7)
}

.sub-menu-option:hover {
  background: rgba(0,0,100,0.2);
}

.search-bar, .filter {
  display: inline-block;
  vertical-align: middle;
}

.search-divider {
  position: absolute;
  margin-top: -1vh;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #8e9096;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  margin-top: 2vh;
}

.page-arrow {
  font-size: 2vw;
  margin-bottom: 2vh;
  text-decoration: none;
  color: black;
  transition: 0.2s ease;
  cursor: pointer;
}

.page-arrow:hover {
  transform: scale(1.2);
  color: #e63946;
}

.page-arrow.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.page-circle {
  width: 2.4vw;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1vw;
}

.page-circle-form {
  display: inline-block;
  margin-bottom: 2vh;
}

.page-circle-input {
  width: 2.4vw;
  aspect-ratio: 1;
  border-radius: 50%;
  text-align: center;
  border: none;
  outline: none;
  background: rgba(0,0,0,0.8);
  color: white;
  font-weight: bold;
  font-size: 1vw;
  cursor: pointer;
  transition: 0.2s ease;
}

.page-circle-input:hover,
.page-circle-input:focus {
  transform: scale(1.1);
  background: #e63946;
}

.page-circle-input::-webkit-outer-spin-button,
.page-circle-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.page-circle-input[type=number] {
  -moz-appearance: textfield;
}