.u-section-1 .u-sheet-1 {
  min-height: 412px;
}

.u-section-1 .u-text-1 {
  font-size: 3.125rem;
  width: 444px;
  margin: 92px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 6px;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 34px auto 60px;
  padding: 22px 41px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }
}

body.u-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* fill the screen vertically */
    margin: 0;
}

.u-section-1 {
    flex: 1; /* take all available vertical space */
}

.u-footer {
    flex-shrink: 0; /* never shrink, stays at bottom */
}
