* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 200px;
  width: 100%;
  background-color: #16214C;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

header .logo {
  height: 120px;
  margin-left: 20px;
}

main {
  flex: 1;
  background-color: #EFEFEF;
  padding: 20px;
}

footer {
  width: 100%;
  height: 150px;
  background-color: #142C36;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0;
  color: #EFEFEF;
  font-family: 'Iceland', cursive;
  font-size: 40px;
  line-height: 1;
}

.login-container {
  margin-top: 150px;
  text-align: center;
}

.login-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #4D161A;
}

.google-btn {
  background-color: #4D161A;
  color: #EFEFEF;
  font-weight: bold;
  font-family: 'Alexandria';
  width: 30vw;
  aspect-ratio: 4 / 1;
  border: none;
  border-radius: 12px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  margin: 20px auto 0;
  cursor: pointer;
  transition: background 0.2s;
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: calc(0.9 * 30vw / 13);
}

.google-btn:hover {
  background-color: #82141B;
}
