.login-container {
  margin-top: 150px;
  text-align: center;
}

.login-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #4D161A;
}

.google-btn {
  background-color: #4D161A;
  color: #EFEFEF;
  font-weight: bold;
  font-family: 'Alexandria';
  width: 30vw;
  aspect-ratio: 4 / 1;
  border: none;
  border-radius: 12px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  margin: 20px auto 0;
  cursor: pointer;
  transition: background 0.2s;
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: calc(0.9 * 30vw / 13);
}

.google-btn:hover {
  background-color: #82141B;
}
