* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 17vh;
  background-color: #16214C;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1vw;
}

.header-rectangle {
  width: 25vw;
  height: 5.1vh;
  background-color: #70ade0;
  border-radius: 1vh;
  border: 2px solid #efebd0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.rect-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #efebd0;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  height: 100%;
  position: relative;
  transition: background 0.2s ease;
  font-size: 0.9vw;
}

.rect-section:hover {
  background-color: rgba(0,0,20, 0.2);
}

.rect-section:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 10%;
  height: 80%;
  width: 2px;
  background-color: #efebd0;
}

header .logo {
  height: 12vh;
}

main {
  flex: 1;
  background-color: #d6ceb1;
}

footer {
  width: 100%;
  height: 14vh;
  background-color: #142C36;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0;
  color: #ffffff;
  font-family: 'Iceland', cursive;
  font-size: 40px;
  line-height: 1;
}