* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 17vh;
  background-color: #16214C;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1vw;
}

.header-rectangle {
  position: absolute;
  width: 25vw;
  height: 5.1vh;
  right: 1vw;
  top: 7.5vh;
  background-color: #70ade0;
  border-radius: 1vh;
  border: 2px solid #efebd0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.rect-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #efebd0;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  height: 100%;
  position: relative;
  transition: background 0.2s ease;
  font-size: 0.9vw;
}

.rect-section:hover {
  background-color: rgba(0,0,20, 0.2);
}

.rect-section:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 10%;
  height: 80%;
  width: 2px;
  background-color: #efebd0;
}

header .logo {
  height: 12vh;
}

header .login-rect {
  display: flex;
  padding: 1vh 0vw 1vh 0vw;
  height: 4vh;
  align-items: center;
  min-width: 4vh;
  max-width: 100%;
  margin-bottom: auto;
  margin-top: 2.5vh;
  margin-left: auto;
  border-radius: 4vh;
  background-color: #22465b;
  white-space: nowrap;
  font-size: 0vw;
  border: 0 solid #ffffff;
  outline-offset: 0;
  transition: background-color 0.3s ease;
  transition: font-size 0.5s;
}

header .login-rect:hover {
  background-color: #6197b7;
  font-size: 1vw;
  padding: 1vh 0.5vw 1vh 0.5vw;
    border: 2.5px solid #ffffff;
  outline-offset: 2.5px;
}

header p {
  margin: 0;
  color: #dbfcf9;
  font-family: 'Iceland', cursive;
  line-height: 1;
}

header .login-rect-image {
  height: 4vh;
  width: 4vh;
  opacity: 1;
  filter: invert(1) brightness(1);
  margin-left: 0vw
}

header .login-rect:hover .login-rect-image {
  opacity: 0.6;
  width: 0vh;
}

header .logout-rect {
  display: flex;
  height: 4vh;
  width: 4vh;
  margin-bottom: auto;
  margin-top: 2.5vh;
  margin-left: 0.5vw;
  border-radius: 4vh;
  background-color: #22465b;
  transition: background-color 0.3s ease;
  border: 2.5px solid #ffffff;
  outline-offset: 2.5px;
}

header .logout-rect:hover {
  background-color: #6197b7;
}

header .logout-rect-image {
  height: 4vh;
  width: 4vh;
  padding-bottom:0.4vh;
  opacity: 0.9;
  filter: invert(1);
  transform: scale(0.65);
  transition: filter 0.3s;
}

main {
  flex: 1;
  background-color: #d6ceb1;
}

footer {
  width: 100%;
  height: 14vh;
  background-color: #142C36;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0;
  color: #dbfcf9;
  font-family: 'Iceland', cursive;
  font-size: min(2vw, 3.2vh);
  line-height: 1;
}

.icon-space {
  margin-left: 0.5vw;
  padding: 0.5vw;
  display: flex;
  gap: 0.5vw;
  justify-content: center;
  align-items: center;
  background: #011c29;
  border-radius: 1.75vw;
  height: 3.5vw;
}

.icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5vw;
  height: 2.5vw;
  background: #22465b;
  border-radius: 50%;
  transition: background 0.2s;
}

.icon-circle:hover {
  background: #6197b7;
}

.icon-circle img {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
}

.icon-circle.inverted img {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  filter: invert(1);
}