<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
  <link href="https://fonts.googleapis.com/css2?family=Iceland&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Alexandria&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/css/main.css">
  <link rel="stylesheet" href="static/css/adminpanel.css">
  <link rel="icon" href="/static/assets/logo.ico" type="image/x-icon">
</head>
<body>

<header>
  <a href="/" class="logo-link">
    <img src="static/assets/logo.jpg" alt="Logo" class="logo">
  </a>

  <div class="header-rectangle">
    <a href="/returnbookpage" class="rect-section" style="flex: 1.1;">Restituisci un Libro</a>
    <a href="/adminpanel" class="rect-section" style="flex: 0.8;">Presto..</a>
    <a href="/" class="rect-section" style="flex: 0.8;">Homepage</a>
  </div>
</header>

  <main>
      <div class="button-container">
    <div class="add-book-container">
  <button class="add-btn" id="openAddModal">Aggiungi Libro</button>
  </div>
<div class="add-book-container">
  <button class="add-btn remove-hover" id="openRemoveModal">Rimuovi Libro</button>
</div>
<div class="add-book-container">
  <button class="add-btn edit-hover" id="openEditModal">Modifica Libro</button>
</div></div>

  <div class="modal" id="addBookModal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Aggiungi un nuovo libro</h2>
<form id="addBookForm">
  <label for="titleInput">Titolo</label>
  <input type="text" id="titleInput" name="title" placeholder="Titolo" required>

  <label for="authorInput">Autore</label>
  <input type="text" id="authorInput" name="author" placeholder="Autore" required>

<div class="form-row">
  <div class="form-group">
    <label for="positionInput">Scaffale</label>
    <input type="text" id="positionInput" name="author" placeholder="Scaffale" required>
  </div>

  <div class="form-group">
    <label for="catInput">Categoria</label>
    <select id="catInput" name="category" required>
    <option value="" disabled selected>Seleziona categoria</option>
    {% for name, code in categories.items() %}
        <option value="{{ code }}">{{ name }} ({{ code }})</option>
    {% endfor %}
</select>
</div></div>

<div class="file-drop-container">
  <div class="file-drop-zone" id="coverDropZone">
    Trascina qui la copertina
    <label for="coverInput" class="browse-btn">Sfoglia</label>
    <input type="file" id="coverInput" name="cover" accept="image/*" hidden>
  </div>
  <div class="cover-preview" id="coverPreview">
    <img src="static/assets/placeholder_cover.png" alt="Anteprima copertina">
  </div>
</div>

  <button type="submit">Aggiungi</button>
</form>
    </div>
  </div>


<div class="rm-modal" id="rmBookModal">
  <div class="rm-modal-content">
    <span class="rm-close" id="closeRmBookModal">&times;</span>
    <h2>Rimuovi un Libro</h2>

    <form id="rmBookForm">
      <label for="rmBookId">ID del Libro</label>
      <input type="number" id="rmBookId" name="book_id" placeholder="Inserisci ID" required />

      <div id="rmBookInfo">
        <p id="rmBookTitle">Titolo</p>
        <p id="rmBookAuthor">Autore</p>

        <div class="rm-cover-preview">
          <img id="rmBookCover" src="static/assets/placeholder_cover.png" alt="Anteprima copertina">
        </div>

        <button type="button" class="add-btn" id="confirmRmBook">Conferma Rimozione</button>
      </div>
        <button type="submit" class="add-btn">Carica Libro</button>
    </form>
  </div>
</div>

<div class="edit-modal" id="editBookModal">
  <div class="edit-modal-content">
    <span class="edit-close" id="closeEditModal">&times;</span>
    <h2>Modifica un Libro</h2>

    <form id="editBookForm">
      <label for="editBookId">ID del Libro</label>
      <input type="number" id="editBookId" name="book_id" placeholder="Inserisci ID" required />

      <div id="editBookInfo">
        <label for="editBookTitle">Titolo</label>
        <input type="text" id="editBookTitle" name="title" placeholder="Titolo del libro" />

        <label for="editBookAuthor">Autore</label>
        <input type="text" id="editBookAuthor" name="author" placeholder="Autore del libro" />

<div class="form-row">
  <div class="form-group">
    <label for="editBookSection">Scaffale</label>
    <input type="text" id="editBookSection" name="author" placeholder="Scaffale" >
  </div>

  <div class="form-group">
    <label for="editBookCategory">Categoria</label>
    <select id="editBookCategory" name="category" >
    <option value="" disabled selected>Seleziona categoria</option>
    {% for name, code in categories.items() %}
        <option value="{{ name }}">{{ name }} ({{ code }})</option>
    {% endfor %}
</select>
</div></div>

<div class="file-drop-container" style="margin-top: 1vh; margin-bottom: 0.5vh;">
  <div class="file-drop-zone" id="editCoverDropZone">
    Trascina qui la copertina
    <label for="editCoverInput" class="browse-btn">Sfoglia</label>
    <input type="file" id="editCoverInput" name="cover" accept="image/*" hidden>
  </div>
  <div class="cover-preview" id="editCoverPreview">
    <img src="static/assets/placeholder_cover.png" alt="Anteprima copertina">
  </div>
</div>

      </div>
        <button type="button" class="add-btn" id="confirmEditBook">Conferma Modifiche</button>
      <button type="submit" class="add-btn">Carica Libro</button>
    </form>
  </div>
</div>

<div class="log-container" id="logContainer">
<div class="log-list" id="logList">
  {% for log in logs %}
    <div class="log-entry">
      [{{ log.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}] {{ log.action }} - {{ log.user_email or "system" }}

      {% if log.book_id %}
        -id <{{ log.book_id }}>-
        {% if log.book_title %}
          -title <{{ log.book_title }}>-
        {% endif %}
      {% endif %}

      {% if log.subject %}
        -subj {{ log.subject }}-
      {% endif %}
    </div>
  {% endfor %}
</div>

</div>
      <div class="button-container" style="left: unset; right: 2.5vw;">
          <div class="edit-admins-container">
              <button class="edit-adm-btn" id="openEdAdmModal">Cambia Admin</button>
          </div>
      </div>
<div class="edit-adm-modal" id="edAdmBookModal">
  <div class="edit-adm-modal-content">
    <span class="close" id="closeEdAdmBookModal">&times;</span>

    <h2>Lista Admin</h2>
<div id="adminListContainer">
    <script>
  console.log("Admins:", {{ admins|tojson }});
</script>
  {% for admin in admins %}
    <script>
  console.log("{{ admin }}");
</script>
    <div class="admin-tag">
      <input type="text" class="admin-input" value="{{ admin }}" readonly/>

      <button type="button" class="remove-admin-btn">×</button>
    </div>
  {% endfor %}
</div>

    <form id="edAdmBookForm">
      <input type="text" id="newAdminInput" placeholder="Aggiungi nuovo admin..." />
    </form>
  </div>
</div>
  </main>

  <footer>
    <p>Levilibrary Demo</p>
  </footer>

<script src="static/js/adminpanel.js" defer></script>
</body>
</html>