<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://fonts.googleapis.com/css2?family=Iceland&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/css/home.css">
</head>
<body>

  <header>
    <a href="/">
        <img src="static/assets/logo.jpg" alt="Logo" class="logo">
    </a>
  </header>

  <main>
<section class="library">
  {% for book in books %}
    <div class="book"
         style="border: 5px solid {{ book.avg_color }};
                background-color: {{ book.avg_color | replace('rgb', 'rgba') | replace(')', ',0.2)') }};">

      <img src="{{ book.cover }}" alt="{{ book.title }}">

      <div class="book-text">
        <div class="book-text-bg">
          <div class="book-title">{{ book.title }}</div>
          <div class="book-author">{{ book.author }}</div>
        </div>
      </div>

    </div>
  {% endfor %}
</section>

    <div class="pagination">
      {% if page > 1 %}
        <a href="/?page={{ page - 1 }}">← Precedente</a>
      {% endif %}

      <span>Pagina {{ page }}</span>

      {% if books|length == 30 %}
        <a href="/?page={{ page + 1 }}">Successiva →</a>
      {% endif %}
    </div>
  </main>

  <footer>
    <p>Levilibrary Demo</p>
  </footer>

</body>
</html>